@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  background-color: $bg;
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  @media (max-width: 1100px) {
    background-image: url("../images/header-bg768.png");
    background-size: 100%;
  }
  @media (max-width: 500px) {
    background-image: url("../images/header-bg500.png");
  }
}

.header-top {
  padding: 25px 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: $bg;
  z-index: 4;
  &__logo-link {
    display: block;
    position: relative;
    z-index: 5;
  }
  &__buy-btn {
    @extend %button;
  }
  #buy-btn__menu {
    display: none;
  }
  @media (max-width: 768px) {
    &__buy-btn {
      margin-left: auto;
    }
  }
  @media (max-width: 500px) {
    #buy-btn__header {
      display: none;
    }
    #buy-btn__menu {
      display: block;
      margin: auto auto 63px;
    }
  }
}
.menu {
  &__btn {
    display: none;
    justify-content: center;
    background: transparent;
    padding: 0;
    outline: transparent;
    border: none;
    position: relative;
    height: 14px;
    width: 20px;
    flex-direction: column;
    gap: 4px;
    span {
      width: 100%;
      height: 2px;
      background: #fff;
      border-radius: 1px;
      transition: all 0.3s ease-in-out;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 27px;
  }

  &__link {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: $default;
    transition: all 0.3s;
    &:hover {
      color: $accent;
    }
  }
  @media (max-width: 768px) {
    margin-left: 32px;
    order: 1;
    &__btn {
      display: flex;
      transition: all 0.3s ease-in-out;
      position: relative;
      z-index: 5;
      box-sizing: content-box;
      padding: 10px 6px;
      &.active {
        justify-content: center;
        align-items: center;
        gap: 0;
        transition: all 0.3s ease-in-out;
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(1) {
          transition: all 0.3s ease-in-out;
          transform: rotateZ(45deg) translateY(150%);
          top: 50%;
        }
        span:nth-child(3) {
          transition: all 0.3s ease-in-out;
          transform: rotateZ(-45deg) translateY(-150%);
          top: 50%;
          bottom: auto;
        }
      }
    }
    &__list {
      position: absolute;
      transform: translateY(-100%);
      transition: all 0.3s;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: -32px;
      background-color: $bg;
      flex-direction: column;
      gap: 40px;
      transition: all 0.3s ease-in-out;
      // padding-top: 140px;
      @include adaptive-value("padding-top", 140, 100, 320, 768);
      &.active {
        transform: translateY(0);
      }
    }
    &__link {
      display: block;
      line-height: 1.2;
      @include adaptive-value("font-size", 48, 32, 320, 768);
      &:hover {
        color: $title;
      }
    }
  }
  @media (max-width: 500px) {
    &__list {
      left: -20px;
    }
  }
}

.header-content {
  // padding-top: 45px;
  display: flex;
  @media (max-width: 500px) {
    flex-direction: column;
  }
  &__inner {
    margin-right: auto;
  }

  &__title {
    margin: 32px 0 28px;
    max-width: 367px;
    min-width: 247px;
    font-family: "Seymour One";
    font-weight: 400;
    font-size: 38px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      @include adaptive-value("font-size", 38, 26, 768);
    }
    @media (max-width: 768px) {
      font-size: 26px;
      max-width: 247px;
      margin-bottom: 20px;
    }
    @media (max-width: 500px) {
      margin-top: 61px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 42px;
    @media (max-width: 1200px) {
      @include adaptive-value("margin-bottom", 42, 28, 768);
    }
    @media (max-width: 768px) {
      margin-bottom: 28px;
    }
  }

  &__links-item {
    display: inline-block;
  }

  &__links-products {
    @extend %button-transparent;
    @media (max-width: 768px) {
      padding: 5px 10px;
      font-size: 8px;
    }
  }

  &__links-how {
    @extend %link;
    @media (max-width: 768px) {
      padding: 7px 10px;
      font-size: 8px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: 14px;
    transition: all 0.3s;
    @extend %arrow;
    padding-bottom: 13px;
    @media (max-width: 720px) {
      display: none;
    }
  }

  &__info-img {
    min-width: 152px;
  }

  &__img {
    margin-left: 50px;
    // max-width: 447px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    flex: 0 2 447px;
    @media (max-width: 500px) {
      margin-left: 0;
      justify-content: center;
      flex-basis: 213px;
    }
    img {
      object-position: bottom;
      @media (max-width: 500px) {
        width: 53%;
      }
    }
  }

  &__info-link {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $default;
    max-width: 200px;
    min-width: 157px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    svg {
      fill: #fff;
    }
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__numbers {
    margin-top: 37px;
    @media (max-width: 720px) {
      display: none;
    }
  }

  &__numbers-item {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 46px;
    line-height: 1.2;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $title;
    &:last-child {
      margin-top: 15px;
    }
    @media (max-width: 1200px) {
      @include adaptive-value("font-size", 46, 28, 768);
    }
    @media (max-width: 768px) {
      font-size: 28px;
    }
    p {
      margin-top: 4px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      text-align: right;
      color: $default;
      text-transform: none;
      letter-spacing: 0;
      @media (max-width: 1200px) {
        @include adaptive-value("font-size", 14, 8, 768);
      }
      @media (max-width: 768px) {
        font-size: 8px;
      }
    }
  }
}

.section {
  &__products {
    padding: 70px 0 65px;
    background-image: url("../images/products-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 768px) {
      padding: 60px 0 82px;
    }
    @media (max-width: 500px) {
      padding: 60px 0;
    }
  }
  &__how {
    padding: 60px 0 180px;
    background: $bg;
    @media (max-width: 768px) {
      padding: 60px 0 204px;
    }
    @media (max-width: 500px) {
      padding: 60px 0 60px;
    }
  }
}

.products {
  &__suptitle {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $title;
    @media (max-width: 768px) {
      font-size: 22px;
    }
    @media (max-width: 500px) {
      font-size: 18px;
    }
  }

  &__title {
    font-family: "Seymour One";
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $title;
    margin-top: 12px;
    margin-bottom: 80px;
    @media (max-width: 768px) {
      font-size: 34px;
      margin-bottom: 80px;
    }
    @media (max-width: 500px) {
      font-size: 30px;
      margin-bottom: 40px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 16px;
    @media (max-width: 720px) {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 47px;
    }
  }

  &__item {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @extend %arrow;
    &:nth-child(1) {
      .products__content {
        background: #aec6a5;
      }
    }
    &:nth-child(2) {
      .products__content {
        background: #efd478;
      }
    }
    &:nth-child(3) {
      .products__content {
        background: #d6936d;
      }
    }
  }

  &__img-wrapper {
    width: 100%;
    margin-bottom: -175px;
    position: relative;
    z-index: 2;
    @media (max-width: 1200px) {
      margin-bottom: calc(-1 * (105px + 70 * ((100vw - 768px) / (1200 - 768))));
    }
    @media (max-width: 768px) {
      margin-bottom: -105px;
    }
    @media (max-width: 720px) {
      max-width: 240px;
    }
    @media (max-width: 500px) {
      margin-bottom: -120px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    letter-spacing: 0.04em;
    color: $title;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 166px 64px 50px;
    border-radius: 24px;
    @media (max-width: 1200px) {
      @include adaptive-value("padding-left", 64, 26, 768);
      @include adaptive-value("padding-right", 64, 26, 768);
      @include adaptive-value("padding-top", 166, 107, 768);
      @include adaptive-value("padding-bottom", 50, 10, 768);
    }
    @media (max-width: 768px) {
      padding: 107px 26px 10px;
    }
    @media (max-width: 720px) {
      height: 420px;
    }
    @media (max-width: 500px) {
      padding: 123px 40px 10px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 70px;
    @media (max-width: 1200px) {
      @include adaptive-value("font-size", 30, 22, 768);
      @include adaptive-value("margin-bottom", 70, 40, 768);
    }
    @media (max-width: 768px) {
      font-size: 22px;
      margin-bottom: 40px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.76;
    max-width: 247px;
    width: 100%;
    margin-bottom: 55px;
    @media (max-width: 1200px) {
      @include adaptive-value("font-size", 16, 14, 768);
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media (max-width: 500px) {
      max-width: 200px;
    }
  }

  &__arrow {
    margin-top: auto;
  }
}

.how {
  &__suptitle {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 12px;
    @media (max-width: 1200px) {
      @include adaptive-value("font-size", 30, 22, 768);
    }
    @media (max-width: 768px) {
      @include adaptive-value("font-size", 22, 18, 500);
    }
  }

  &__title {
    font-family: "Seymour One";
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 82px;
    @media (max-width: 768px) {
      margin-bottom: 72px;
    }
    @media (max-width: 500px) {
      margin-bottom: 32px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    column-gap: 100px;
    row-gap: 40px;
    margin-bottom: 55px;
    @media (max-width: 1200px) {
      @include adaptive-value("column-gap", 100, 32, 768);
    }
    @media (max-width: 768px) {
      column-gap: 32px;
    }
    @media (max-width: 720px) {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 44px;
    }
    @media (max-width: 500px) {
      margin-bottom: 38px;
    }
  }

  &__img {
    max-width: 490px;
    width: 100%;
    @media (max-width: 720px) {
      max-width: 334px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content-inner {
    max-width: 470px;
    width: 100%;
    @media (max-width: 720px) {
      text-align: center;
    }
    @media (max-width: 500px) {
      max-width: 78%;
    }
  }

  &__text {
    line-height: 176%;
    letter-spacing: 0.04em;
    margin-bottom: 48px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
    @media (max-width: 500px) {
      margin-bottom: 20px;
    }
    p:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__btn {
    @extend %button;
    @media (max-width: 720px) {
      margin: 0 auto;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    @media (max-width: 720px) {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 30px;
    }
  }

  &__item {
    flex: 0 1 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-img {
    background-color: $accent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
    @media (max-width: 500px) {
      margin-bottom: 16px;
    };
  }

  &__item-num {
    font-weight: 700;
    font-size: 58px;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    @media (max-width: 1200px) {
      @include adaptive-value("font-size", 58, 48, 768);
    }
    @media (max-width: 768px) {
      @include adaptive-value("font-size", 48, 36, 500);
    }
    @media (max-width: 500px) {
      font-size: 36px;
    }
  }

  &__item-text {
    text-align: center;
    line-height: 176%;
    letter-spacing: 0.02em;
    max-width: 280px;
  }
}
